<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doanhtq.note">
    <permission android:name="com.doanhtq.note.READ"/>
    <permission android:name="com.doanhtq.note.WRITE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Note">
        <provider
            android:name="com.doanhtq.note.NoteProvider"
            android:authorities="com.doanhtq.note.noteprovider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"
            android:readPermission="com.doanhtq.note.READ"
            android:writePermission="com.doanhtq.note.WRITE"/>

        <activity
            android:name=".activity.EditNoteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>